/* *{
    padding: 0;
    margin: 0;
} */

body{
    background-color: rgb(150, 144, 155);
}

header{
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 10% 0 10%;
    background-color: yellow;
    color: blue;
    line-height: 70px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: brown;
    font-size: 30px;
}

section{
    margin:0 0 0 10%;

    padding: 10px 10px 10px 10px;
    /* background-color: brown; */
}

article{
    margin-left: 5%;
    background-color: antiquewhite;
    padding: 5px 5px 5px 5px;
}

footer{
    background-color: rgb(94, 87, 87);
 position: absolute;
 bottom: 0;
 width: 100%;
}

.text-effect{
    text-shadow: 2px 4px 2px blue;
}

.word_wrap{ 
    word-wrap:break-word ;
    border: 2px solid blue;
    width: 150px;
}

.no_word_wrap{
    width: 150px;
    border: 2px solid blue;
}

@font-face{
    font-family: kuchhvv;
    src: url("Birdlove.ttf");
}
.fontcss3{
font-family: kuchhvv;
font-size: 30px;
}


/* Animation in css3 */

.animation{
    width: 100%;
    height: 200px;
    background-color: red;
    position: relative;
    }
.animation img{
    width: 10%;
    height: 100px;
    position: absolute;
    top: 20%;
    animation-name: imagebhag;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes imagebhag{
    from{left:0}
    to{left:85%}
}

        /* Transition effect in css3 */

.transititonEffect{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40%;
    background-color: blue;
    transition-property: width, height;
    transition-duration: 2s;
    transition-timing-function: linear;

}
.transititonEffect:hover{
    width:250px;
    height: 250px;
}

        /* Multiple columns in css3 */

.multipleColumn{
    column-count: 3;
    column-gap: 50px;
    text-align: justify;
    column-rule: dashed;
    column-rule-color: red;
}


        /* Background in css3 */

.bgcss{
    width: 500px; 
    height: 500px;
    background-image: url("rajeJp.jpg");
    background-size: 100% 100%;
}


        /* User interface in css3 */

.boxsizing{
    width: 400px; 
    height: 200px;
    padding: 20px;
    background-color: black;
    color: antiquewhite;
    margin-bottom: 30px;
    
}
.boxsizing1{
    width: 400px; 
    height: 200px;
    padding: 20px;
    background-color: black;
    color: antiquewhite;
    box-sizing: border-box;
}


        /* transform in 2d css3 */


        /* translate() method */
.transform2d{

    width: 300px; 
    height: 100px;
    background-color: black;
    color: antiquewhite;
    transform: translatex(50px);
}
.transform2d p{
    transform: translatex(50px);
    transform: translatey(30px);

}

    /* rotate() method */

    .rotate2dtop{
        display: flex;
        justify-content: center;
    }
.rotate2d{
    width: 200px;
    height: 100px;
        margin-top: 200px;
        background-color: yellow;
        transition: transform 5s;
        background-size: 100% 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.rotate2d:hover{
    
    transform: scale(2,2);
    transform: rotate(360deg);
}
.rotate2d:hover{

    transform: rotate(360deg);
}


    
